[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.5"
edition = "2021"
rust-version = "1.76"
authors = ["Alloy Contributors"]
license = "MIT OR Apache-2.0"
homepage = "https://github.com/alloy-rs/op-alloy"
repository = "https://github.com/alloy-rs/op-alloy"
exclude = ["benches/", "tests/"]

[workspace.lints]
rust.unused_must_use = "deny"
rust.rust_2018_idioms = { level = "deny", priority = -1 }
rustdoc.all = "warn"

[workspace.lints.clippy]
all = { level = "warn", priority = -1 }
missing_const_for_fn = "warn"
use_self = "warn"
option_if_let_else = "warn"

[workspace.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[workspace.dependencies]
# Alloy
op-alloy-rpc-jsonrpsee = { version = "0.1.5", path = "crates/rpc-jsonrpsee" }
op-alloy-rpc-types = { version = "0.1.5", path = "crates/rpc-types" }
op-alloy-rpc-types-engine = { version = "0.1.5", path = "crates/rpc-types-engine" }
op-alloy-consensus = { version = "0.1.5", path = "crates/consensus" }

alloy-rlp = { version = "0.3", default-features = false }
alloy-primitives = { version = "0.7.1", default-features = false }

alloy = { version = "0.2" }
alloy-consensus = { version = "0.2", default-features = false}
alloy-network = { version = "0.2", default-features = false }
alloy-rpc-types = { version = "0.2" }
alloy-rpc-types-engine = { version = "0.2" }
alloy-rpc-types-eth = { version = "0.2" }
alloy-eips = { version = "0.2", default-features = false }
alloy-serde = { version = "0.2", default-features = false }
alloy-signer = { version = "0.2", default-features = false }

# Serde
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }

# rpc
jsonrpsee = { version = "0.24", features = ["jsonrpsee-core", "client-core", "server-core", "macros"] }
jsonrpsee-core = "0.24"
jsonrpsee-types = "0.24"

# misc
derive_more = { version = "0.99", default-features = false }

## misc-testing
arbitrary = { version = "1.3", features = ["derive"] }
rand = "0.8"
thiserror = "1.0"
proptest = "1.4"
proptest-derive = "0.4"
tokio = "1"

## crypto
c-kzg = { version = "1.0", default-features = false }
k256 = { version = "0.13", default-features = false, features = ["ecdsa"] }

[patch.crates-io]
alloy-consensus = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-network = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-rpc-types = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-rpc-types-eth = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-eips = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-serde = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }
alloy-signer = { git = "https://github.com/alloy-rs/alloy", rev = "d46ee5b0" }